[user]
    name = Randolf Tjandra
    email = randolftjandra@gmail.com

[includeIf "hostname:d4i-Tjandra"]
    path = ~/.gitconfig.dinari

[pull]
  rebase = true

[alias]
  a = add
  br = branch -v
  brr = branch -vr
  cb = create-branch
  co = checkout
  coqa = "!f() { git checkout -b $(git rev-parse --abbrev-ref HEAD)-qa; }; f"
  commit = commit
  ci = commit
  create-branch = "!f() { \
      url=\"$1\"; shift; \
      context=\"$*\"; \
      ticket=$(echo \"$url\" | grep -oE '[A-Z]+-[0-9]+'); \
      if [ -z \"$ticket\" ]; then echo 'No ticket found in URL'; return 1; fi; \
      ticket=$(echo \"$ticket\" | tr '[:upper:]' '[:lower:]'); \
      user=$(git config user.name | tr '[:upper:]' '[:lower:]' | tr ' ' '-'); \
      if [ -n \"$context\" ]; then \
        slug=$(echo \"$context\" | tr '[:upper:]' '[:lower:]' | sed -E 's/[^a-z0-9]+/-/g' | sed -E 's/-+/-/g' | sed -E 's/^-|-$//g'); \
        branch=\"$user/$ticket-$slug\"; \
      else \
        branch=\"$user/$ticket\"; \
      fi; \
      git checkout -b \"$branch\"; \
    }; f"
  d = diff
  dc = diff --cached
  dump = cat-file -p
  foobar = "!f() { git commit --amend; git push origin HEAD --force; };f"
  gh = "!git log --oneline | gum filter | cut -d' ' -f1 | pbcopy"
  gl = log --graph --oneline --decorate --branches --tags --remotes
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  jira-log = "!f() { A=$1; B=${2-origin/master}; git fetch origin; git log $A..$B --pretty=format:'%H%n%B%x0C' | tr -d \"\\r\" | perl -e '$/ = \"\\f\"; print \"||SHA||Summary||Issue ID||\\n\"; while(<>) { /\\s*(\\w+)\\s+([^\\n]+).*jira: ([^\\n]+)/si; print \"| $1 | $2 | $3 |\\n\"};';}; f"
  lg = !(git lg1)
  lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg3 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --author="$(git config user.name)" --all
  s = status -sb
  sh = stash
  showbr = log --pretty=oneline trunk..
  showallbr = log -U trunk ..
  test = "!f() { git switch $(git rev-parse --abbrev-ref HEAD)-qa 2>/dev/null || git switch -c $(git rev-parse --abbrev-ref HEAD)-qa; }; f"
  type = cat-file -t

[log]
  date = relative

[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =

[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

[log]
  date = relative

[core]
  pager = less -FRSX
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore
  ; hooksPath = ~/.git-hooks

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/

[commit]
  template = ~/.gitmessage
	gpgsign = false

[init]
  templatedir = ~/.git-templates
	defaultBranch = main

[core]
  excludesfile = ~/.gitignore

[url "git@github.com:"]
  insteadOf = https://github.com/



[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

[log]
  date = relative

 ; You can set the color to any of the following values: normal, black,
 ; red, green, yellow, blue, magenta, cyan, or white. If you want an
 ; attribute like bold in the previous example, you can choose from bold,
 ; dim, ul (underline), blink, and reverse (swap foreground and background).
[color]
  ui = true
  pager = true
  log = true

[color "interactive"]
  prompt = blue bold
  error = red bold
  header = cyan bold
  help = green
  comment = magenta dim

[color "diff"]
  plain = white
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red blink

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[core]
  pager = less -FRSX
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/

[url "git@github.com:"]
  insteadOf = https://github.com/
